.container{
    border: 2px dodgerblue solid;
    width: 550px;
    background-color: #ebe9ea;
}

.container div{
    width: 100px;
    height: 50px;
    border: 1px black solid;
    margin: 25px;
}

#red{
    background-color: red;
}

#orange{
    background-color: orange;
    margin-left: 80px;
}

#yellow{
    background-color: yellow;
    margin-left: 150px;
}

#green{
    background-color: green;
    margin-left: 220px;
}

#blue{
    background-color: blue;
    margin-left: 290px;
}

#indigo{
    background-color: indigo;
    margin-left: 360px;
}

#purple{
    background-color: purple;
    margin-left: 430px;
}