.red{background-color: red;}

.orange{background-color: orange;}

.yellow{background-color: yellow;}

.green{background-color: green;}

.blue{background-color: blue;}

.indigo{background-color: indigo;}

.purple{background-color: purple;}

.white{background-color: white}

.grey{background-color: lightgray}