.parent {
    width: 459px;
    border: dodgerblue 1px solid;
}

.container {
    overflow: auto;
    background-color: lightgray;
}

.container div {
    height: 80px;
    width: 50px;
    float: left;
    border: thin dodgerblue;
    border-top-style: solid;
    border-right-style: solid;
    background-color: white;
}