* {
    box-sizing:border-box;
}

html, body {
    width: 100%;
    height:100%;
}

.container{
    width: 80%;
    border: dodgerblue 1px solid;
    overflow: auto;
    margin: 0 auto;
    max-width: 1200px;
}

.container div{
    float: left;
}

.row{
    width:100%;
}

.row:after{
    content: "";
    display: table;
    clear: both;
}

.column{
    padding:10px;
    /*border: dodgerblue 1px solid;*/
    height: 100px;
    background-color: white;
}

.one-third{width: 33.3%;}
.two-third{width: 66.6%}
.one-fifth{width: 20%;}
.one-seventh{width: 14.28%;}

.off-one-seventh{margin-left: 14.28%;}
.off-two-seventh{margin-left: 28.56%;}
.off-three-seventh{margin-left: 42.84%;}
.off-four-seventh{margin-left: 57.12%;}
.off-five-seventh{margin-left: 71.4%;}
.off-six-seventh{margin-left: 85.68%;}

.off-one-third{margin-left: 33.3%;}

.right{
    margin-right: 20%;
}

.left{
    margin-left: 20%;
}

.bottom{
    margin-bottom: 100px;
}

.circle{
    border-radius: 50%;
    height: 375px;
    margin-top: 50px;
    margin-bottom: 50px;
}

.space{
    height: 350px;
}

.small{
    height: 70px;
    padding: 0;
    margin: 0;
    width: 100%;
}

#star {
    margin: 125px 90px;
    position: relative;
    display: block;
    color: white;
    width: 0px;
    height: 0px;
    border-right: 100px solid transparent;
    border-bottom: 70px solid white;
    border-left: 100px solid transparent;
    transform: rotate(35deg);
}
#star:before {
    border-bottom: 80px solid white;
    border-left: 30px solid transparent;
    border-right: 30px solid transparent;
    position: absolute;
    height: 0;
    width: 0;
    top: -45px;
    left: -65px;
    display: block;
    content: '';
    transform: rotate(-35deg);
}
#star:after {
    position: absolute;
    display: block;
    color: white;
    top: 3px;
    left: -105px;
    width: 0px;
    height: 0px;
    border-right: 100px solid transparent;
    border-bottom: 70px solid white;
    border-left: 100px solid transparent;
    transform: rotate(-70deg);
    content: '';
}

p{
    word-spacing: 40px;
    color: white;
    font-size: 20px;
}