.container{
    border: dodgerblue 2px solid;
    background-color: #ebe9ea;
    box-sizing: border-box;
    width: 700px;
    height: 754px;
    position: relative;
}
.container div{
    width: 100px;
    height: 100px;
    border: dodgerblue 2px solid;
    position: absolute;
    background-color: white;
}
.top{
    top: 50px;
}
.half{
    top: 300px;
}
.bottom{
    top: 600px;
}
.left{
    left: 50px;
}
.middle{
    left: 300px;
}
.right{
    left: 550px;
}