#redFont{
    color:red;
}

#blueFont{
    color:blue;
}

#mediumFont{
    font-size: 18px;
}

#largeFont{
    font-size: 22px;
}

#blueBack{
    background-color: blue;
}

#redBack{
    background-color: red;
}

#resizeDiv{
    width: 100px;
    height: 100px;
    border: 1px black solid;
    margin: 10px;
    border-radius: 10px;
}

div{
    border: 1px green solid;
    padding: 20px;
}

.redTeam{
    font-size: 25px;
}