p{
    font-size: 2em;
}
h1{
    color: red;
}

.flashy{
    background-color: grey;
}

.bold{
    font-weight: bold;
}

#unique{
    border: solid 1px black;
}

.parent div{
    color: blue;
}

.parent >div{
    color:green;
}

div:hover {
    background-color: orange;
}

.parent >div:hover {
    background-color: blue;
}

div:first-child{
    font-size: 30px;
}