body{
    background-color: black;
    height: auto;
}

header{
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    background-color: #333333;
    z-index: 9999;
}

.floatLeft{float: left;}
.floatRight{float: right;}

ul {
    list-style-type: none;
    margin-top: 20px;
}

ul >li{display: inline;}

li a{
    display: block;
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: 20px;
}

a:link {
    color: white;
    padding: 30px 10px 0 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

a:hover {
    text-decoration: none;
    color: #F8CE47;
}

.content{
    margin: 120px auto;
    position: relative;
    height: 250px;
}

#fries{
    position: absolute;
    left: 31%;
    top: 85%;
    z-index: 1;
}
#burger{
    position: absolute;
    left: 52%;
    top: 69%;
}
.locationBar{
    position: relative;
    height: 100px;
    width: 100%;
    background-color: #FFCC07;
}

.originalText{
    text-align: center;
    position: relative;
    font-size: 20px;
    letter-spacing: 1px;
    top: 50%;
}

.overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: aqua;

    overflow: hidden;
    width: 100%;
    height: 0;
    transition: .5s ease;
}

.locationBar:hover .overlay {
    height: 100%;
}

.newText {
    text-align: center;
    position: relative;
    font-size: 20px;
    letter-spacing: 1px;
    top: 50%;
    color: white;
}

.sportsBar{width: 100%;}

.sportsBar div{
    float: left;
    background-color: black;
    height: 510px;
    overflow: hidden;
}

.ramsBanner{padding: 0px;}

.ramsBanner img{
    width: 100%;
    transform: scaleX(-1);
}
.patBanner{
    padding: 0;
    /*background-image: url("images/patriots.png");*/
    /*background-size: 100% 100%;*/
    width: 100%;
}

.bwwBuilding img {width: 100%;}
.bwwBuilding{padding: 0;}

.contact div{
    background-color: black;
    float: left;
}

.formsDiv{
    padding: 0 10px;
    width: 100%;
}

#fname, #lname, select{
    width: 100%;
    margin-bottom: 20px;
    color: grey;
}

#subject{
    width: 100%;
    margin-bottom: 10px;
    color: grey;
}

button{
    float: right;
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    font-family: drukbold;
    font-size: large;
    letter-spacing: 1px;
    border: none;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
}
