* {
    box-sizing:border-box;
}

html, body {
    width: 100%;
    height:100%;
}

.container{
    width: 80%;
    border: dodgerblue 1px solid;
    overflow: auto;
    margin: 0 auto;
    max-width: 1200px;
}

.container div{
    float: left;
}

.row{
    width:100%;
}

.row:after{
    content: "";
    display: table;
    clear: both;
}

.column{
    padding:10px;
    /*border: dodgerblue 1px solid;*/
    height: 268px;
    background-color: white;
}

.one-third{width: 33.3%;}
.two-third{width: 66.6%}
.one-fifth{width: 20%;}
.one-seventh{width: 14.28%;}
.one-half{width: 49%;}

.off-one-seventh{margin-left: 14.28%;}
.off-two-seventh{margin-left: 28.56%;}
.off-three-seventh{margin-left: 42.84%;}
.off-four-seventh{margin-left: 57.12%;}
.off-five-seventh{margin-left: 71.4%;}
.off-six-seventh{margin-left: 85.68%;}

.off-one-third{margin-left: 33.3%;}
.off-one-half{margin-left: 50%}

.right{
    margin-right: 20%;
}

.left{
    margin-left: 20%;
}

.bottom{
    margin-bottom: 100px;
}
