@font-face {
    font-family: "drukbold";
    src: url(Druk-Medium-Web.ttf) format("truetype");
}

.drukbold{
    font-family: drukbold;
    letter-spacing: 2px;
}

.contentText {
    color: #BFBFBF;
    text-align: center;
}

.contentText p{font-size: 20px;}

.contentText h1{
    font-size: 80px;
    letter-spacing: 5px;
    margin: 0;
}

.contactUsText{
    color: white;
    font-family: drukbold;
    letter-spacing: 2px;
    margin: 140px 0 0 0;
}

form {color: white;}

.nflBanner{text-align: center;}

.nflBanner h1{
    color: #F8CE47;
    font-family: drukbold;
    font-size: 60px;
    letter-spacing: 5px;
    margin: 0;
}

.nflBanner h2{
    color: white;
    font-family: drukbold;
    letter-spacing: 2px;
}